# VSCode
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# Virtual Environments
.venv/
.venv1/
.env/

# OS-specific
.DS_Store
Thumbs.db

node_modules/

mnt/storage/activism
mnt/storage/x-media
mnt/storage/x-media/**