.twitter-video {
    height: auto;
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 20px;
    border-radius: 24px;
}

.twitter-image {
    height: auto;
    max-width: 500px;
    max-height: 500px;
    border-radius: 24px;
}

.timestamp {
    color: #bbb;
    font-size: 1em;
}

.tweet-card {
    background-color: #15202B;
    border: 2px solid #bbb;
    border-radius: 24px;
    padding: 14px;
    margin: 10px;
}

#order-form {
    padding-left: 20px;
}

#order {
    width: 140px;
	height: 2.2rem;            /* or whatever you prefer */
	line-height: 2.2rem;       /* match the height */
	padding: 0 0.5rem;         /* horizontal padding only */
	vertical-align: middle;
}

.gallery{
	display:grid;
	gap:.5rem;
	grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
	align-items:start; /* don't stretch children vertically */
}

#url {
    width: 600px;
    padding: 12px 20px;
    margin-left: 0;
    background-color: #1a1a1a;
    color: white;
    border: none;
    border-radius: 999px;
    font-size: 1em;
    box-sizing: border-box;
    outline: none;
    transition: box-shadow 0.2s ease;
}

#archive-form {
    width: fit-content;
    margin-left: 20px;
    margin-bottom: 20px;
}

#feed {
    overflow: auto;
    max-height: 800px;
    max-width: 700px;
    border: 2px solid #8feff2;
    border-radius: 24px;
}