.twitter-video {
    height: auto;
    max-width: 600px;
    max-height: 600px;
    margin-bottom: 20px;
    border-radius: 24px;
}

.twitter-image {
    height: auto;
    max-width: 600px;
    max-height: 600px;
    border-radius: 24px;
    padding: 10px;
}

.timestamp {
    color: #bbb;
    font-size: 1em;
}

.tweet-card {
    background-color: #15202B;
    border: 2px solid #bbb;
    border-radius: 24px;
    padding: 14px;
    margin: 10px;
}

.tweet-text {
	white-space: pre-wrap;
    margin-bottom: 10px;
}

.totals {
    width: fit-content;
    font-weight: 600;
    font-size: 1.4em;
    color: #C1C1C1;
    border: 1px solid #C1C1C1;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 6px;
}

#orderSel, #monthSel, #yearSel {
    width: 140px;
	height: 2rem;            /* or whatever you prefer */
	line-height: 2.2rem;       /* match the height */
	padding: 0 0.5rem;         /* horizontal padding only */
	vertical-align: middle;
}

.filters {
    margin-bottom: 10px;
    padding-left: 14px
}

.control-panel  {
    color: #C1C1C1;
    font-weight: 600;
    font-size: 1.2em;
}

.gallery{
    display: flex;
    flex-direction: row;
	grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
	align-items:start;
    border: 1px solid #bbb;
    border-radius: 24px;
    overflow-y: auto;
    margin-bottom: 14px;
}

#url {
    width: 420px;
    padding: 12px 20px;
    margin-left: 0;
    background-color: #1a1a1a;
    color: white;
    border: none;
    border-radius: 999px;
    font-size: 1em;
    box-sizing: border-box;
    outline: none;
    transition: box-shadow 0.2s ease;
}

#archive-form {
    width: fit-content;
    margin-left: 14px;
    margin-bottom: 10px;
}

#feed {
    overflow: auto;
    max-height: 800px;
    max-width: 700px;
    border: 2px solid #8feff2;
    border-radius: 24px;
}