

.title {
    font-size: 2.6em;
    color: #999;
    font-weight: 600;
}

.warning-message {
    color: white;
    font-size: 1em;
    font-weight: 600;
    margin-left: 20px;
}

.disclaimer {
    color: #C1C1C1;
    font-size: 1em;
    width: 680px;
    margin: 20px;
}

.text {
    font-size: 1em;
    line-height: 1;
    margin-top: 30px;
}

.proceed {
    margin-top: 30px;
    border-radius: 24px;
    width: fit-content;
    padding: 12px;
    border: 2px solid #00e3ea;
}