@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

/* Global Styles */
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: white;
    background-color: #3d3d3d;
    margin: 0;
    padding: 0;
}

/* Styling for all hyperlinks */
a {
    text-decoration: none;
    color: #8feff2;  /* Change the default link color (unvisited) */
    text-decoration: none;  /* Optional: Removes the underline */
}

/* Styling for visited hyperlinks */
a:visited {
    color: #8feff2;  /* Set a different color for visited links (e.g., light gray) */
    text-decoration: none;
}


