.intro-card {
    border-radius: 24px;
    background-color: #1a1a1a;
    padding: 20px;
    margin-left: 10px;
    max-width: 550px;
    width: fit-content;
}

.enter-chat {
    font-size: 1.6em;
    text-align: center;
    padding: 12px 44px;
    border-radius: 24px;
    width: fit-content;
    margin: 30px auto 10px;
    border: 2px solid #00e3ea;
}

.enter-chat:hover {
    background-color: black;
    cursor: pointer;
    transition: background-color 5s ease-in-out;
}