
h1 {
    margin-bottom: 0;
    padding: 0;
}

main {
    padding: 10px;
}

.top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin: 10px auto;
    gap: 20px;
    padding: 12px;
    border-radius: 24px;
}

.content-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px auto;
    gap: 20px;
}

@media (width <= 800px) {
    .content-row {
        flex-flow: row wrap;
    }
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    width: fit-content;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 24px;
    border: 2px solid #00e3ea;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 1.3em;
    font-weight: 600;
    color: #bbb;
    border-radius: 24px;
    border: 2px solid #00e3ea;
}


.icon {
    width: 24px;
    height: 24px;
    border: 1px solid #00e3ea;
    border-radius: 50%;
}

p {
    line-height: .8;
    padding: 5px;
    margin: 0;
}