@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body {
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: white;
    background-color: #3d3d3d;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    color: #b4e197;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #b4e197;
}

h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #00e3ea;
}

a {
    color: #00e3ea;
    transition: color 0.3s ease;
    text-decoration: none;
}

a:visited {
    color: #00e3ea;
    text-decoration: none;
}

a:active,
a:hover,
a:focus {
  color: #bbb;
}

* {
  box-sizing: border-box;
}

.avatar-wrapper {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* Reactions */

.reactions-container {
    display: flex;
    flex-direction: row;
}

.custom-emoji-drawer {
    position: absolute;
    max-height: 440px;
    min-width: 400px;
    z-index: 1000;
    bottom: 56px;
    right: 0;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 10px;
    background-color: #1a1a1a;
    border: 1px solid #444;
    box-shadow: 0 2px 12px #1a1a1a;
    border-radius: 6px;
}

.custom-reaction-drawer {
    position: absolute;
    bottom: calc(100% + 4px);
    right: 0;
    max-height: 400px;
    min-width: 420px;
    z-index: 1200;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 10px;
    background-color: #1a1a1a;
    border: 1px solid #444;
    box-shadow: 0 2px 12px #1a1a1a;
    border-radius: 6px;
}

.unicode-wrapper-reaction {
	display: none;
	position: absolute;
	bottom: calc(100% + 8px);
	right: 0;
	overflow: auto;
	padding: 10px;
	background: #1a1a1a;
	border: 1px solid #444;
	border-radius: 8px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, .6);
	z-index: 1000;
}

.unicode-wrapper-reaction.visible {
	display: flex;
}

/* .unicode-emoji-wrapper {
    display: none;
    position: absolute;
    top: calc(100% - 10px);
    right: 20px;
    z-index: 1000;
} */

.unicode-emoji-wrapper {
    display: none;
    position: absolute;
    bottom: 80px;
    right: 120px;
    z-index: 1000;
}

.unicode-emoji-wrapper.visible{
    display: block;
}

.custom-emoji-wrapper {
    display: none;
}

.custom-emoji-wrapper.visible {
    display: flex;
}

.custom-emoji {
    cursor: pointer;
}

.reaction-count {
	margin-right: 5px;
  font-size: 1.2em;
}

.unicode-emoji-button {
    background-color: transparent;
    padding: 0;
    align-items: center;
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 0;
    cursor: pointer;
    margin-left: 8px;
}

.custom-emoji-button {
    font-size: 24px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

.emoji-reaction {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    padding: 2px;
    align-items: center;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    margin-right: 4px;
    font-size: 1em;
    border: 2px solid #00e3ea;
}

.emoji-reaction:hover {
    cursor: pointer;
    background-color: #444;
}

.emoji-reaction.custom {
    margin-right: 6px;
    width: 32px;
    height: 32px;
    padding: 2px;
    border-radius: 0;
    cursor: pointer;
    border: none;
}

.emoji-reaction.unicode{
    cursor: pointer;
    border-radius: 0;
    padding: 2px;
    border: none;
    font-size: 1.2em;
}

.emoji-reaction.custom:hover,
.emoji-reaction.unicode:hover {
    background-color: transparent;
}

.custom-wrapper-reaction {
  display: none;
}

.custom-wrapper-reaction.visible {
  display: flex;
}

.size-option {
    padding: 4px 10px;
    background-color: #1a1a1a;
    border: 2px solid #00e3ea;
    border-radius: 999px;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.size-option.active {
    padding: 2px 8px;
    border: 2px solid limegreen;
    border-radius: 999px;
    background-color: transparent;
    color: white;
    font-size: 0.9rem;
    max-height: 26px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.size-option:hover {
    background-color: #333;
    color: white;
}

/* User Popup Card */

.popup {
  position: absolute;
  background: #222;
  padding: 40px;
  border-radius: 24px;
  box-shadow: 0 0 20px rgb(0 0 0 / 60%);
  z-index: 1000;
  width: min-content;
  color: white;
  cursor: move;
  transition: top 0.1s ease-out, left 0.1s ease-out;
}

.popup-inner {
  text-align: center;
}

.popup-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 1.5em;
  cursor: pointer;
}

#popup-send-message {
  background: #111;
  border: 1px solid #00e3ea;
  border-radius: 24px;
  padding: 10px;
  min-height: 40px;
  min-width: 300px;
  margin: 0 auto;
  color: #bbb;
}

.popup-send-message-container {
  display: flex;
  flex-direction: row;
}

/* Notification Icon */

.notification-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.notif-wrapper {
    position: relative;
    width: 32px;
    height: 32px;
}

.notif-badge {
    position: absolute;
    top: 0;
    right: 20px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
    display: none;
    min-width: 18px;
    text-align: center;
}

/* Article Info Headings */

.article-info.description::before {
  content: "Description";
  color: #bbb;
}

.article-info.source::before {
  content: "Source";
  color: #bbb;
}

.article-info.published::before {
  content: "Published";
  color: #bbb;
}

.article-info.authors::before {
  content: "Authors";
  color: #bbb;
}

.article-info.category::before {
  content: "Category";
  color: #bbb;
}

.article-info.archive-url::before {
  content: "Archive URL";
  color: #bbb;
}

/* Video embed block */

.video-container {
    position: relative;
    width: 100%;
    max-width: 96%;
    min-width: 300px;
    aspect-ratio: 16 / 9;
    margin-bottom: 20px;
    overflow: hidden;
    box-sizing: border-box;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
    box-sizing: border-box;
}

/* =======================
   Media Styles
   ======================= */

/* Image block */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    width: 100%;
    border-radius: 24px;
    box-sizing: border-box;
}

.responsive-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 24px;
    border: 2px solid #00e3ea;
    box-sizing: border-box;
}


/* =======================
   Utilities
   ======================= */

input.password,
/* stylelint-disable-next-line selector-id-pattern */
#display_name {
  background-color: #444;
  color: #bbb;
  padding: 12px 20px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 300px;
  border: none;
  border-radius: 24px;
}

.change-password {
    background-color: #1a1a1a;
    color: #bbb;
    padding: 12px 20px;
    margin-left: 5px;
    margin-bottom: 20px;
    width: 300px;
    border: none;
    border-radius: 24px;
}

select {
  background-color: #1a1a1a;
  color: #bbb;
  padding: 12px 20px;
  margin-left: 5px;
  width: 300px;
  border: none;
  border-radius: 24px;
}

button {
  background-color: #1a1a1a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

.flash-message {
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.password-rules {
  font-size: 0.8em;
  color: #bbb;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 8px;
  list-style-type: none;
  padding-left: 0;
}

.flash-success { background-color: #4CAF50; 
                 color: white; }

.flash-danger { background-color: #f44336;
                color: white; }
            
.flash-warning { background-color: #ff9800; 
                 color: black; }

.flash-info { background-color: #2196F3; 
              color: white; }
