.environment-page {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    width: fit-content;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    color: white;
}

.environment-page .environment-left {
    background-color: #1a1a1a;
    padding: 10px 20px 10px 20px;
    margin: 10px 0 10px 0;
    border-radius: 8px;
    text-align: left;
    grid-column: 1;
    width: fit-content;
}

.environment-page .environment-right {
    background-color: #1a1a1a;
    padding: 40px 20px 10px 20px;
    margin: 10px 0 10px 0;
    border-radius: 8px;
    text-align: left;
    grid-column: 2;
}

.environment-header h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #8fd694;
}

.environment-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #b4e197;
}

.environment-links {
    list-style-type: disc;
    padding-left: 20px;
}

.environment-links li {
    margin-bottom: 10px;
}

.environment-links a {
    color: #add8ff;
    text-decoration: underline;
}

.environment-links a:hover {
    text-decoration: none;
}
