.home-page {
    display: grid;
    grid-template-columns: 260px minmax(300px, 800px) minmax(300px, 800px);
    column-gap: 20px;
    max-width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

h2  {
    margin-top: 0;
    margin-bottom: 10px;
}

iframe {
    border-radius: 24px;
}

/* Left, center, and right columns */
.home-page .home-left,
.home-page .home-center,
.home-page .home-right {
    background-color: #1a1a1a;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 24px;
    text-align: left;
    box-sizing: border-box;
}

/* Grid placement */
.home-page .home-left { grid-column: 1; }

.home-page .home-center {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page .home-right {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Directory column width control */
.home-page home-left {
    min-width: 260px;
}

.home-page home-right {
    min-width: 260px;
}

.home-trackers {
    display: inline-block;
    border: 2px solid #8feff2;
    border-radius: 24px;
    padding: 20px;
    margin-bottom: 10px;
}

.ukraine-war,
.vivisection-stats {
    display: flex;
    flex-direction: column;
    border: 2px solid #8feff2;
    border-radius: 24px;
    padding: 12px;
    margin-bottom: 10px;
    gap: 0;
    line-height: 1;
    font-weight: 600;
}

p {
	margin: 0.2em;
	line-height: 1em;
}

/* Mobile layout */
@media (width <= 800px) {
    .home-page {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 5px;
    }

    .home-left {
        display: none;
    }

    .home-center,
    .home-right {
        width: 100%;
    }
}

/* =======================
   Utilities
   ======================= */

.impact-counter {
    width: 100%;
    aspect-ratio: 9 / 6.5;
    border-radius: 12px;
    overflow: hidden;
}

.impact-counter iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

.sameline {
    display: flex;
    flex-direction: row;
}

/* Bulletless list */
.no-bullets {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.no-bullets li {
    margin-bottom: 6px;
}

/* Section headers */
.section-title {
    margin-bottom: 0;
    font-weight: bold;
}

/* Icon links */
.link-with-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.link-with-icon:hover {
    color: #c7c7c7;
}

.discord-title {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.image-row {
    display: flex;
    flex-direction: row;
}

.icon {
    flex-shrink: 0;
}
