.home-page {
    display: grid;
    grid-template-columns: 260px minmax(300px, 720px) minmax(300px, 720px);
    column-gap: 20px;
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

h2  {
    margin-top: 0;
    margin-bottom: 10px;
}

/* Left, center, and right columns */
.home-page .home-left,
.home-page .home-center,
.home-page .home-right {
    background-color: #1a1a1a;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: left;
    box-sizing: border-box;
}

/* Grid placement */
.home-page .home-left { grid-column: 1; }

.home-page .home-center {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page .home-right {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Directory column width control */
.home-page home-left {
    min-width: 260px;
}

.home-page home-right {
    min-width: 260px;
}

/* Mobile layout */
@media (width <= 800px) {
    .home-page {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 10px;
    }

    .home-left {
        display: none;
    }

    .home-center,
    .home-right {
        width: 100%;
    }
}

/* =======================
   Media Styles
   ======================= */

/* Image block */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    box-sizing: border-box;
}

.responsive-image {
    width: 100%;
    max-width: 100%;
    min-width: 300px;
    height: auto;
    border-radius: 8px;
    box-sizing: border-box;
}

/* Video embed block */
.video-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 300px;
    aspect-ratio: 16 / 9;
    margin: 20px auto;
    box-sizing: border-box;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
    box-sizing: border-box;
}

.impact-counter {
    width: 100%;
    aspect-ratio: 9 / 6.5;
    border-radius: 12px;
    overflow: hidden;
}

.impact-counter iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

/* =======================
   Utilities
   ======================= */

/* Bulletless list */
.no-bullets {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.no-bullets li {
    margin-bottom: 6px;
}

/* Section headers */
.section-title {
    margin-bottom: 0;
    font-weight: bold;
}

/* Icon links */
.link-with-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
}

.link-with-icon:hover {
    color: #c7c7c7;
}

.discord-title {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.icon {
    flex-shrink: 0;
}
