body {
    background-color: #3d3d3d;
    color: white;
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 20px;
    margin-bottom: 0;
}

.profile-wrapper {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: min-content;
    height: min-content;
}

.update-profile {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: min-content;
    height: min-content;
    border: 2px solid #00e3ea;
}

.profile-container {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 640px;
    width: 100%;
    border: 2px solid #00e3ea;
}

.change-password {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
    width: min-content;
    height: min-content;
    border: 2px solid #00e3ea;
}

/* Stack vertically on small screens */
@media (width < 768px) {
    .profile-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

.profile-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.bio-text {
    width: 300px;
    height: 100px;
    background-color: #444;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
}

button[type="delete-account"] {
    background-color: rgb(161 83 83);
    border: 3px solid #00e3ea;
    color: #00e3ea;
    padding: 6px 12px;
    margin-left: 0;
    margin-top: 20px;
    font-size: .8em;
    border-radius: 999px;
    cursor: pointer;
    transition: color 0.2s ease;
    text-decoration: none;
}

button[type="submit"] {
    background-color: #1a1a1a;
    border: 3px solid #00e3ea;
    color: #00e3ea;
    padding: 3px 12px;
    margin-left: 0;
    font-size: 1.1em;
    border-radius: 999px;
    cursor: pointer;
    transition: color 0.2s ease;
    text-decoration: none;
}

input[type="file"]::file-selector-button {
    background-color: #1a1a1a;
    border: 3px solid #00e3ea;
    color: #00e3ea;
    padding: 3px 12px;
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 1.1em;
    border-radius: 999px;
    transition: color 0.2s ease;
    text-decoration: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #444;
}

input[type="file"]::file-selector-button:hover {
    background-color: #444;
}

textarea {
    width: 100%;
    max-width: 500px;
    min-height: 80px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: white;
    resize: vertical;
    border: none;
}
