.wikipedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 24px;
    max-width: 640px;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
    margin: 0 auto 20px;
    gap: 10px;
}

.veganism-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 0 10px;
}

.veganism-left,
.veganism-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 24px;
    max-width: 900px;
}

h2 {
    margin-bottom: 10px;
    margin-top: 0;
}

.substack-post-embed {
    width: 95%;
    border-radius: 24px;
    background-color: #444;
}

.veganism-left ul {
    padding-left: 8px;
    margin-left: 0;
    margin-top: 0;
    line-height: 1.4;
}

/* Mobile layout */
@media (width <= 800px) {
    .veganism-main {
        display: flex;
        flex-direction: column;
        gap: 0;
        box-sizing: border-box;
        padding: 0 10px;
        overflow-x: hidden;
    }

    h2 {
        margin-top: 0;
    }

    .veganism-left,
    .veganism-right {
        width: 100%;
        min-width: 0;
        margin: 0;
    }

    .icon {
        width: 50%;
        height: 50%;
    }
    
    .wikipedia {
        margin-bottom: 0;
    }

    .content-row {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .bluesky-embed,
    .substack-post-embed {
        overflow-x: hidden;
        max-width: 250px;
        min-width: 0;
    }
}
