.veganism-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
}

.veganism-wrapper {
    display: flex;
    flex-direction: column;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    padding: 10px;
    width: 100%;
    border-radius: 24px;
}

#veganism-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    width: 100%;
}

.veganism-feed {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 600px;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #00e3ea;
    border-radius: 24px;
}

.submit-button {
    background-color: #1a1a1a;
    border: 1px solid #00e3ea;
    color: #00e3ea;
    padding: 6px 10px;
    max-height: 36px;
    border-radius: 24px;
    cursor: pointer;
    transition: color 0.8s ease;
    text-decoration: none;
    white-space: normal;
    overflow-wrap: normal;
    word-break: normal;
    line-height: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.veganism-left,
.veganism-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 24px;
    max-width: 900px;
}

.preview-container {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    font-size: .8em;
    border: 2px solid #00e3ea;
    border-radius: 24px;
    padding: 20px;
    width: 640px;
}

.preview-container-inner {
    border-left: 4px solid #bbb;
    padding-left: 6px;
}

.preview-image {
    width: 580px;
}

.wikipedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 24px;
    max-width: 640px;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
    margin: 0 auto 20px;
    gap: 10px;
}

h2 {
    margin-bottom: 10px;
    margin-top: 0;
}

#url {
    flex-direction: row;
    width: 100%;
    min-height: 45px;
    max-height: 200px;
    color: #ddd;
    padding: 10px;
    border-radius: 24px;
    background-color: #1a1a1a;
    border: 1px solid #00e3ea;
    margin-bottom: 5px;
    overflow-y: auto;
}

.substack-post-embed {
    width: 95%;
    border-radius: 24px;
    background-color: #444;
}

.veganism-left ul {
    padding-left: 8px;
    margin-left: 0;
    margin-top: 0;
    line-height: 1.4;
}

/* Mobile layout */
@media (width <= 800px) {
    .veganism-main {
        display: flex;
        flex-direction: column;
        gap: 0;
        box-sizing: border-box;
        padding: 0 10px;
        overflow-x: hidden;
    }

    h2 {
        margin-top: 0;
    }

    .veganism-left,
    .veganism-right {
        width: 100%;
        min-width: 0;
        margin: 0;
    }

    .icon {
        width: 50%;
        height: 50%;
    }
    
    .wikipedia {
        margin-bottom: 0;
    }

    .content-row {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .bluesky-embed,
    .substack-post-embed {
        overflow-x: hidden;
        max-width: 250px;
        min-width: 0;
    }
}
