{% extends 'base.html' %}

{% block content %}
    <main>
        <h2>Protest 2-17-2025</h2>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/QBhnZJhALr8?si=yirUfKA-E_-WuPTO" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
            gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/2MWqhP859OA?si=EodKHIVOPVNCj4--" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
            gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="image-row">
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/02-17-2025_01.png') }}" alt="02-17-2025 01" class="responsive-image">
            </div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/02-17-2025_02.png') }}" alt="02-17-2025 02" class="responsive-image">
            </div>
        </div>
        <div class="image-row"></div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/02-17-2025_03.jpg') }}" alt="02-17-2025 03" class="responsive-image">
            </div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/02-17-2025_04.jpg') }}" alt="02-17-2025 04" class="responsive-image">
            </div>
        </div>
        <div class="image-row"></div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/02-17-2025_05.jpg') }}" alt="02-17-2025 05" class="responsive-image">
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/02-17-2025_06.jpg') }}" alt="02-17-2025 06" class="responsive-image">
        </div>
        </div>
        <h2>Protest 3-4-2025</h2>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/OjvyLPrUxRU?si=fz4OCMwvxHhe8Md8" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
            gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="image-row">
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/03-04-2025_01.jpg') }}" alt="02-17-2025 04" class="responsive-image">
            </div>
        </div>
        <h2>Protest 3-21-2025 Bernie Sanders & AOC rally</h2>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/AmKuFko7w78?si=4Bhj8tuJgyxujBwJ" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
            gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="image-row">
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/03-21-2025_01.jpg') }}" alt="03-21-2025 01" class="responsive-image">
            </div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/03-21-2025_02.jpg') }}" alt="03-21-2025 02" class="responsive-image">
            </div>
        </div>
        <div class="image-row">
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/03-21-2025_03.jpg') }}" alt="03-21-2025 03" class="responsive-image">
            </div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/03-21-2025_04.jpg') }}" alt="03-21-2025 04" class="responsive-image">
            </div>
        </div>
        <div class="image-row">
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/03-21-2025_05.jpg') }}" alt="03-21-2025 05" class="responsive-image">
            </div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/03-21-2025_06.jpg') }}" alt="03-21-2025 06" class="responsive-image">
            </div>
        </div>
        <h2>Protest 4-5-2025</h2>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/gQ-AlGI7Zu8?si=lDZetxSwvj6wElpz" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
            gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/KjeOK3kOt7g?si=D31JKe5TVUiwogU-" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
            gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="image-row">
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/04-05-2025_01.jpg') }}" alt="04-05-2025 01" class="responsive-image">
            </div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/04-05-2025_02.jpg') }}" alt="04-05-2025 02" class="responsive-image">
            </div>
        </div>
        <div class="image-row">
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/04-05-2025_03.jpg') }}" alt="04-05-2025 03" class="responsive-image">
            </div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/04-05-2025_04.jpg') }}" alt="04-05-2025 04" class="responsive-image">
            </div>
        </div>
        <div class="image-row">
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/04-05-2025_05.jpg') }}" alt="04-05-2025 05" class="responsive-image">
            </div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/04-05-2025_06.jpg') }}" alt="04-05-2025 06" class="responsive-image">
            </div>
        </div>
        <div class="image-row">
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/04-05-2025_07.jpg') }}" alt="04-05-2025 07" class="responsive-image">
            </div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/04-05-2025_08.jpg') }}" alt="04-05-2025 08" class="responsive-image">
            </div>
        </div>
        <div class="image-row">
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/04-05-2025_09.jpg') }}" alt="04-05-2025 09" class="responsive-image">
            </div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/04-05-2025_10.jpg') }}" alt="04-05-2025 10" class="responsive-image">
            </div>
        </div>
        <h2>Protest 4-19-2025</h2>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/1eMx5-mwMbY?si=kF56kPw8pn6lVvJa" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
            gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/jiOfuvBihIY?si=BI1EluQ6j6XYlNpy" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
            gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="image-row">
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/04-19-2025_01.jpg') }}" alt="04-05-2025 01" class="responsive-image">
            </div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/04-19-2025_02.jpg') }}" alt="04-05-2025 02" class="responsive-image">
            </div>
        </div>
        <div class="image-row">
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/04-19-2025_03.jpg') }}" alt="04-05-2025 03" class="responsive-image">
            </div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/04-19-2025_04.jpg') }}" alt="04-05-2025 04" class="responsive-image">
            </div>
        </div>
        <div class="image-row">
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/04-19-2025_05.jpg') }}" alt="04-05-2025 05" class="responsive-image">
            </div>
        </div>
        <h2>Protest 5-1-2025</h2>
    </main>
{% endblock %}
