{% extends 'base.html' %}

{% block content %}
<main class="admin-tools-page">
    <div class="content-row">
        <h2>Admin Tools</h2>
        <table class="user-table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Display Name</th>
                    <th>Email</th>
                    <th>Admin</th>
                    <th>Email Verified</th>
                    <th>Reset Password</th>
                    <th>Bio</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>
                        <div><strong>Current:</strong> {{ user.display_name or '-' }}</div>
                        <form method="POST" class="admintool-displayname" action="{{ url_for('update_displayname_admin', user_id=user.id) }}">
                            <input type="text" name="new_displayname" class="new-displayname" placeholder="New display name" required>
                            <button type="submit" class="displayname-button">Submit</button>
                        </form>
                    </td>
                    <td>{{ user.email }}</td>
                    <td>{{ 'Yes' if user.is_admin else 'No' }}</td>
                    <td>{{ 'Yes' if user.email_verified else 'No' }}</td>
                    <td>
                        <form method="POST" class="password-form" action="{{ url_for('reset_password_admin', user_id=user.id) }}">
                            <input type="password" name="new_password" class="change-password" placeholder="New password"  autocomplete="new-password" required>
                            <button type="submit" class="reset-button">Reset</button>
                        </form>
                    </td>
                    <td>{{ user.bio or '—' }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('admin_delete_user', user_id=user.id) }}">
                        <button type="submit" class="trash-button">🗑️</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}