<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta property="og:locale" content="en_US">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Democracy Network</title>
    {% if article_to_highlight %}
        <meta property="og:site_name" content="Social Democracy Network | {{ article_to_highlight.source }}">
        <meta property="og:title" content="{{ article_to_highlight.title }}">
        <meta property="og:description" content="{{ article_to_highlight.description }}">
        <meta property="og:type" content="article">
        <meta property="og:image" content="{{ article_to_highlight.image_url }}">
        <meta property="og:url" content="https://social-democracy.net/news?article={{ article_to_highlight.id }}">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ article_to_highlight.title }}">
        <meta name="twitter:description" content="{{ article_to_highlight.description }}">
        <meta name="twitter:image" content="{{ article_to_highlight.image_url }}">

    {% else %}
        <meta property="og:site_name" content="Social Democracy Network">
        <meta property="og:title" content="Social Democracy Network">
        <meta property="og:description" content="Explore world and local news and connect with community forum and Matrix server.">
        <meta property="og:image" content="{{ url_for('static', filename='img/og-default.jpg', _external=True) }}">
        <meta property="og:url" content="{{ request.url }}">
    {% endif %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('media', filename='icons/favicon.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- Header-specific styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

        <!-- Site-wide styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">

    <!-- Page-specific styles -->
    {% if request.endpoint == 'home' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    {% endif %}

    {% if request.endpoint == 'news' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
    {% endif %}

    {% if request.endpoint == 'activism' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/activism.css') }}">
    {% endif %}
    
    {% if request.endpoint == 'culture_history' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/culture_history.css') }}">
    {% endif %}

    {% if request.endpoint == 'environment' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/environment.css') }}">
    {% endif %}

    {% if request.endpoint == 'veganism' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/veganism.css') }}">
    {% endif %}

    {% if request.endpoint == 'chat_intro' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/chat_intro.css') }}">
    {% endif %}

    {% if request.endpoint == 'chat' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    {% endif %}

    {% if request.endpoint == 'about' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    {% endif %}

    {% if request.endpoint == 'login' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    {% endif %}

    {% if request.endpoint == 'register' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    {% endif %}

    {% if request.endpoint == 'profile' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cropper.min.css') }}">
    {% endif %}

    {% if request.endpoint == 'admin_tools' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_tools.css') }}">
    {% endif %}
    {% if request.endpoint == 'messages' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
    {% endif %}
</head>

<body class="has-header">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flashes">
            {% for category, message in messages %}
            {% if message %}
            <div class="flash-message flash-{{ category }}">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    
    <header class="top-bar">
        <div class="header-date-time" id="date"></div>
        <div class="mobile-nav-buttons">
            <button id="hamburger-icon" class="hamburger-icon" onclick="toggleMobileMenu()">☰
            <button id="directory-button" class="directory-button" onclick="toggleDirectory()">Links</button>
        </div>
        <nav id="main-nav">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('news') }}">News</a>
            <a href="{{ url_for('chat_intro') }}">Chat</a>
            <a href="{{ url_for('activism') }}">Activism</a>
            <img src="/media/base/SDN_Title.png" alt="Social Democracy Network Title" class="title-image">
            <div class="title-mobile">s d n</div>
            <a href="{{ url_for('culture_history') }}">Culture & History</a>
            <a href="{{ url_for('environment') }}">Environment</a>
            <a href="{{ url_for('veganism') }}">Veganism</a>
            <a href="{{ url_for('about') }}">About</a>
        </nav>
        <div class="mobile-nav-container">
            <nav id="mobile-nav" class="mobile-nav">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('news') }}">News</a>
                <a href="{{ url_for('chat_intro') }}">Chat</a>
                <a href="{{ url_for('activism') }}">Activism</a>
                <a href="{{ url_for('environment') }}">Environment</a>
                <a href="{{ url_for('culture_history') }}">Culture & History</a>
                <a href="{{ url_for('veganism') }}">Veganism</a>
                <a href="{{ url_for('about') }}">About</a>
            </nav>
        </div>

        <div id="mobile-directory" class="mobile-directory">
            <div class="directory-section">
                <strong>Links</strong>
                <ul>
                    <li><a href="https://www.fiftyfifty.one/" target="_blank">50501 Movement</a></li>
                    <li><a href="https://colorado50501.com/" target="_blank">50501 Colorado</a></li>
                    <li><a href="https://indivisible.org/" target="_blank">Indivisible</a></li>
                    <li><a href="https://indivisiblecolorado.net/" target="_blank">Indivisible Colorado</a></li>
                    <li><a href="https://www.democracynow.org" target="_blank">Democracy Now</a></li>
                    <li><a href="https://www.statuscoup.com/" target="_blank">Status Coup</a></li>
                    <li><a href="https://electiontruthalliance.org/" target="_blank">Election Truth Alliance</a></li>
                    <li><a href="https://www.propublica.org/" target="_blank">ProPublica</a></li>
                    <li><a href="https://www.citizen.org/" target="_blank">Public Citizen</a></li>
                    <li><a href="https://www.npr.org/" target="_blank">National Public Radio (NPR)</a></li>
                    <li><a href="https://www.democracydocket.com/" target="_blank">Democracy Docket</a></li>
                    <li><a href="https://www.aclu.org/" target="_blank">ACLU</a></li>
                    <li><a href="https://www.amnesty.org/en/" target="_blank">Amnesty International</a></li>
                    <li><a href="https://www.hrw.org/" target="_blank">Human Rights Watch</a></li>
                    <li><a href="https://www.btselem.org/" target="_blank">B'Tselem</a></li>
                    <li><a href="https://www.opensecrets.org/" target="_blank">Open Secrets</a></li>
                    <li><a href="https://www.trackaipac.com/" target="_blank">AIPAC Tracker</a></li>
                    <li><a href="https://www.poorpeoplescampaign.org/" target="_blank">Poor Peoples Campaign</a></li>
                    <li><a href="https://www.pewresearch.org/" target="_blank">Pew Research Center</a></li>
                    <li><a href="https://www.ewg.org/" target="_blank">Environmental Working Group</a></li>
                    <li><a href="https://insideclimatenews.org/" target="_blank">Inside Climate News</a></li>
                    <li><a href="https://www.vegansociety.com/" target="_blank">Vegan Society</a></li>
                    <li><a href="https://www.brennancenter.org/" target="_blank">Brennan Center For Justice</a></li>
                    <li><a href="https://www.splcenter.org/" target="_blank">Southern Poverty Law</a></li>
                    <li><a href="https://www.poliscore.us" target="_blank">Poliscore</a></li>
                </ul>
            </div>
            <div class="directory-section">
                <strong>Discord</strong>
                <ul>
                    <li><a href="https://disboard.org/server/522729862469910528" target="_blank">
                         Social Democracy Network</a></li>
                    <li><a href="https://discord.gg/50501">50501 Movement</a></li>
                    <li><a href="https://discord.com/invite/DZcYXhy" target="_blank">David Pakman Show</a></li>
                    <li><a href="https://discord.gg/VYdA43v" target="_blank">Secular Talk</a></li>
                    <li><a href="http://majoritydiscord.com/" target="_blank">Majority Report</a></li>
                </ul>
            </div>
        </div>
        

        <div class="header-right">
            <div class="user-nav">
                {% if current_user.is_authenticated %}
                    <button id="onlineBtn">👥</button>
                    <div id="onlineDrawer">
                        <div id="onlineSection">
                            <div class="user-status">Active</div>
                            <ul id="onlineUserList"></ul>
                        </div>
                        <div id="offlineSection">
                            <div class="user-status">Offline</div>
                            <ul id="offlineUserList"></ul>
                        </div>
                    </div>
                    <div class="notif-wrapper">
                        <img src="{{ url_for('media', filename='icons/notification.png') }}" class="notification-icon" 
                            id="notification-icon" alt="Notification Icon">
                        <div class="notif-badge" id="notif-badge"></div>
                        <div id="notifDrawer" class="notif-drawer hidden">
                            <div class="notif-header">
                                Notifications
                                <button class="clear-notifs">Clear</button>
                            </div>
                            <div class="notif-content">
                                <!-- Insert messages via JS -->
                                <p class="placeholder">No new notifications</p>
                            </div>
                        </div>
                    </div>
                    <div class="avatar-dropdown">{% set avatar_file = current_user_obj.avatar_filename 
                        if current_user_obj.avatar_filename else 'default_avatar.png' %}
                    <img src="{{ url_for('media', filename='avatars/' ~ avatar_file) }}" class="avatar-inline" alt="User Avatar">
                    <div class="dropdown-menu">
                        <span class="username">{{ current_user_obj.display_name or current_user_obj.username }}</span>
                        <a href="{{ url_for('profile', username=current_user_obj.username) }}">Profile</a>
                        <a href="{{ url_for('messages') }}" class="btn">Messages</a>
                        {% if current_user.is_authenticated and current_user.is_admin %}
                            <a href="{{ url_for('admin_tools') }}">Admin Tools</a>
                        {% endif %}
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </div>
            {% else %}
                <a href="{{ url_for('register') }}" class="user-link">> Sign Up</a>
                <a href="{{ url_for('login') }}" class="user-link">> Login</a>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="main-div">
        <main id="main-content">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <div id="toast" class="toast-message"></div>
<script>
    window.CURRENT_USER_ID = {{ current_user.id if current_user.is_authenticated else 'null' }};
    window.IS_ADMIN = {{ 'true' if current_user.is_authenticated and current_user.is_admin else 'false' }};
    window.NEWS_ROOM_ID = 'news';
    {% if recipient %}
        window.RECIPIENT_ID = {{ recipient.id }};
    {% endif %}
    window.selectedEmojiSize = 28;
</script>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/timestamp.js') }}"></script>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
<script src="{{ url_for('static', filename='js/user_popup.js') }}"></script>
<script defer src="https://analytics.social-democracy.net/script.js" data-website-id="302b8be4-674b-46ed-a1e0-7a643b01a97a"></script>
</body>

<div id="user-popup" class="popup" style="display: none;">
    <div class="popup-inner" id="popup-header">
        <span class="popup-close" onclick="hideUserPopup()">×</span>
        <img id="popup-avatar" class="popup-avatar" src="" alt="User avatar">
        <h1 id="popup-display-name" style="padding-bottom: 0"></h1>
        <h2 id="popup-username"></h2>
        <p id="popup-bio"></p>
        <div class="popup-send-message-container"><input id="popup-send-message" placeholder="Send message..."></input></div>
    </div>
</div>

</html>
