{% extends 'base.html' %}

{% block content %}
    <h2>Set a New Password</h2>
    <form method="POST" action="{{ url_for('reset_password_token', token=reset_token) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="password" class="change-password" name="password" placeholder="New password" required><br>
        <input type="password" class="change-password" name="confirm_password" placeholder="Confirm password" required><br>
        <ul class="password-rules">
            <li>Minimum length: 8 characters</li>
            <li>Must contain at least one letter</li>
            <li>Must contain at least one number</li>
        </ul>
        <button type="submit">Change Password</button>
    </form>
{% endblock %}