{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Culture & History</h1>
    <div class ="top-row">
        <p>Selected books, documentaries and cultural artifacts</p>
    </div>
    <div class ="content-row">
        <div class="video">
            <iframe width="640" height="360" src="https://www.democracynow.org/embed/story/2014/8/8/noam_chomsky_what_israel_is_doing" frameborder="0" allowfullscreen="true"></iframe>
            <a href="https://www.democracynow.org/2014/8/8/noam_chomsky_what_israel_is_doing"><p>Noam Chomsky: Israel’s Actions in Palestine are </p>
            <p>“Much Worse Than Apartheid” in South Africa</p></a>
            <p>Democracy Now</p>
            <p>August 08, 2014</p>
        </div>
        <div class="video">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/V5WUIzrCxxo?si=8s7PenYQ0vTrwnNM" frameborder="0" allowfullscreen="true"></iframe>
            <a href="https://en.wikipedia.org/wiki/USS_Liberty_incident"><p>USS Liberty Incident</p></a>
            <p>Forgotten History Documentary</p>
            <p>June 8, 1967</p>
        </div>
    </div>
    <div class ="content-row">
        <div class="book">
            <a href="https://bookshop.org/p/books/the-message-coates/21256233?ean=9780593230381&next=t">
                <img class="book-img" src="{{ url_for('media', filename='history_culture/ta-nehisi-coates-message.png') }}" alt="ta-nehisi-coates-message">
            </a>
        </div>
        <div class="book">
            <a href="https://www.currentaffairs.org/news/why-you-should-read-the-myth-of-american-idealism">
                <img class="book-img" src="{{ url_for('media', filename='history_culture/chomsky-myth-american-idealism.jpg') }}" alt="chomsky-myth-american-idealism">
            </a>
        </div>
        <div class="book">
            <a href="https://bookshop.org/p/books/our-history-is-the-future-standing-rock-versus-the-dakota-access-pipeline-and-the-long-tradition-of-indigenous-resistance-nick-estes/16642260">
            <img class="book-img" src="{{ url_for('media', filename='history_culture/nick-estes-our-history-future.png') }}" alt="nick-estes-our-history-future">
            </a>
        </div>
    </div>
    <div class ="content-row">
        <div class="video">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/hNQStrUcPUg?si=QC3xUdrTXlvTMYFC" frameborder="0" allowfullscreen="true"></iframe>
            <p>Ecuador: Poisoned Rainforest</p>
        </div>
        <div class="video">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/b0vkLO08VIc?si=FLjP421rcbbNx9Xv" frameborder="0" allowfullscreen="true"></iframe>
            <p>School of The Americas - Terror & Control</p>
        </div>
    </div>
    <div class ="content-row">
        <div class="video">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/lLHsQIS58AA?si=rVxJ71sfTf6bMkb8" frameborder="0" allowfullscreen="true"></iframe>
            <p>The Cloaked Hand: American Interventionism in Chile</p>
        </div>
        <div class="video">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/7coh9-MpFJo?si=aB5gdeXyzM2VKUJU" frameborder="0" allowfullscreen="true"></iframe>
            <p>“It’s Always About Oil”: CIA & MI6 Staged Coup in Iran 70 Years Ago, Destroying Democracy in Iran</p>
        </div>
    </div>
</main>

{% endblock %}