{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Culture & History</h1>
    <div class ="top-row">
        <p>Selected books, documentaries and cultural artifacts</p>
    </div>
    <div class ="content-row">
        <div class="video">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/3Q8y-4nZP6o?si=YeeK0gZo3CTRY4Y7" frameborder="0" allowfullscreen="true"></iframe>
            <p>Iraq For Sale: The War Profiteers (2006)
            <a href="https://en.wikipedia.org/wiki/Iraq_for_Sale:_The_War_Profiteers" target="_blank">
            <img class="icon" src="{{ url_for('media', filename='icons/wikipedia.png') }}"></a></p>
        </div>
        <div class="video">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/T2L4jcVqo8s?si=6wP2N-Nn3uszZ7Px" frameborder="0" allowfullscreen="true"></iframe>
            <p>Once Upon A Time In Iraq | FRONTLINE
            <a href="https://en.wikipedia.org/wiki/Once_Upon_a_Time_in_Iraq" target="_blank">
            <img class="icon" src="{{ url_for('media', filename='icons/wikipedia.png') }}"></a></p>
        </div>
    </div>
    <div class ="content-row">
        <div class="video">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/Wd5JfFjhfMQ?si=pNifGq4uKisfOYHC" frameborder="0" allowfullscreen="true"></iframe>
            <p>Released From <a href="https://en.wikipedia.org/wiki/Guantanamo_Bay_detention_camp" target="_blank">Guantanamo</a> (Out of Gitmo) | FRONTLINE</p>
        </div>
        <div class="video">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/BLpEbJAEg8g?si=IMt3ltLhoxbl1LJL" frameborder="0" allowfullscreen="true"></iframe>
            <p>American-Backed Coups: </p>
            <p>How The CIA <a href="https://en.wikipedia.org/wiki/1954_Guatemalan_coup_d%27%C3%A9tat" target="_blank">destabilized</a> South America</p>
        </div>
    </div>
    <div class ="content-row">
        <div class="video">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/_NpBRnynGmU?si=SIZqX403n33y86cF" frameborder="0" allowfullscreen="true"></iframe>
            <p><a href="https://en.wikipedia.org/wiki/Rocky_Flats_Plant" target="_blank">Rocky Flats</a> Health and Safety Violations:</p>
            <p>The Must-Watch Evidence</p>
        </div>
        <div class="video">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/gXMBK4IllKI?si=lo9I5wqIUREGN5MW" frameborder="0" allowfullscreen="true"></iframe>
            <p><a href="https://en.wikipedia.org/wiki/Rocky_Flats_Plant" target="_blank">Rocky Flats</a> Secrets of a Bomb Factory</p>
        </div>
    </div>
    <div class ="content-row">
        <div class="book">
            <a href="https://bookshop.org/p/books/the-message-coates/21256233?ean=9780593230381&next=t"  target="_blank">
                <img class="book-img" src="{{ url_for('media', filename='history_culture/ta-nehisi-coates-message.png') }}" alt="ta-nehisi-coates-message">
            </a>
        </div>
        <div class="book">
            <a href="https://www.currentaffairs.org/news/why-you-should-read-the-myth-of-american-idealism"  target="_blank">
                <img class="book-img" src="{{ url_for('media', filename='history_culture/chomsky-myth-american-idealism.jpg') }}" alt="chomsky-myth-american-idealism">
            </a>
        </div>
        <div class="book">
            <a href="https://bookshop.org/p/books/our-history-is-the-future-standing-rock-versus-the-dakota-access-
                pipeline-and-the-long-tradition-of-indigenous-resistance-nick-estes/16642260" target="_blank">
            <img class="book-img" src="{{ url_for('media', filename='history_culture/nick-estes-our-history-future.png') }}" alt="nick-estes-our-history-future">
            </a>
        </div>
    </div>
    <div class ="content-row">
        <div class="video">
            <iframe width="640" height="360" src="https://www.democracynow.org/embed/story/2014/8/8/noam_chomsky_what_israel_is_doing"
            frameborder="0" allowfullscreen="true"></iframe>
            <a href="https://www.democracynow.org/2014/8/8/noam_chomsky_what_israel_is_doing"  target="_blank">
            <p>Noam Chomsky: Israel’s Actions in Palestine are </p>
            <p>“Much Worse Than Apartheid” in South Africa</p></a>
            <p>Democracy Now</p>
            <p>August 08, 2014</p>
        </div>
        <div class="video">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/V5WUIzrCxxo?si=8s7PenYQ0vTrwnNM"
            frameborder="0" allowfullscreen="true"></iframe>
            <a href="https://en.wikipedia.org/wiki/USS_Liberty_incident"  target="_blank"><p>USS Liberty Incident</p></a>
            <p>Forgotten History Documentary</p>
            <p>June 8, 1967</p>
        </div>
    </div>
    <div class ="content-row">
        <div class="video">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/hNQStrUcPUg?si=QC3xUdrTXlvTMYFC" frameborder="0" allowfullscreen="true"></iframe>
            <p><a href="https://en.wikipedia.org/wiki/Lago_Agrio_oil_field">Ecuador: Poisoned Rainforest</a></p>
        </div>
        <div class="video">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/b0vkLO08VIc?si=FLjP421rcbbNx9Xv" frameborder="0" allowfullscreen="true"></iframe>
            <p><a href="https://en.wikipedia.org/wiki/Western_Hemisphere_Institute_for_Security_Cooperation"  target="_blank">School of The Americas</a> - Terror & Control</p>
        </div>
    </div>
    <div class ="content-row">
        <div class="video">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/lLHsQIS58AA?si=rVxJ71sfTf6bMkb8" frameborder="0" allowfullscreen="true"></iframe>
            <p>The Cloaked Hand: <a href="https://en.wikipedia.org/wiki/1973_Chilean_coup_d%27%C3%A9tat"  target="_blank">American Interventionism in Chile</a></p>
        </div>
        <div class="video">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/7coh9-MpFJo?si=aB5gdeXyzM2VKUJU" frameborder="0" allowfullscreen="true"></iframe>
            <p>“It’s Always About Oil”: <a href="https://en.wikipedia.org/wiki/1953_Iranian_coup_d%27%C3%A9tat"  target="_blank">CIA & MI6 Staged Coup</a></p>
            <p>Iran 70 Years Ago, Destroying Democracy in Iran</p>
            <p>Democracy Now</p>
        </div>
    </div>
</main>

{% endblock %}