{% extends 'base.html' %}

{% block content %}
<h1>Environment</h1>
<main class="environment-page">
    <section class="environment-left">
        <h2>Recent News and Rollbacks</h2>
        <ul class="environment-links">
            <li>
                EarthJustice –
                <a href="https://earthjustice.org/feature/timeline-of-the-roadless-rule" target="_blank">Timeline of the Roadless Rule </a>
                    About the creation of the National Forest Roadless Area Conservation Policy and the decades-long legal fight to defend it
            </li>            
            <li>
                NPR –
                <a href="https://www.npr.org/2025/04/17/nx-s1-5366814/endangered-species-act-change-harm-trump-rule" target="_blank">
                    Destroying endangered species' habitat wouldn't count as 'harm' under proposed Trump rule
                </a>
            </li>            
            <li>
                Inside Climate News –
                <a href="https://insideclimatenews.org/news/07052025/trump-administration-cuts-sea-ice-data-center/" target="_blank">
                    Trump Administration Decommissions Sea Ice Data That Sounded an Alarm on Arctic Climate Change
                </a>
            </li>
            <li>
                The Washington Post –
                <a href="https://www.washingtonpost.com/climate-environment/2025/04/05/trump-administration-orders-half-national-forests-open-logging/" target="_blank">
                    Trump Administration Orders Half of National Forests Open for Logging
                </a> 
            </li>
            <li>
                The Guardian –
                <a href="https://www.theguardian.com/environment/2025/may/01/trump-air-climate-pollution-regulation-100-days" target="_blank">
                    Trump has launched more attacks on the environment in 100 days than his entire first term
                </a>
            </li>
            <li>
                AP –
                <a href="https://apnews.com/article/trump-budget-cuts-climate-environment-diversity-fa707f35307c6c74fbd02a38b4841f32" target="_blank">
                    What Trump’s budget cuts could mean for the environment
                </a>
            </li>
            <li>
                The Guardian –
                <a href="https://www.theguardian.com/us-news/2025/may/02/trump-drill-baby-drill-tariffs" target="_blank">
                    Revealed: Forecasts of greenhouse gas emissions from fossil fuels soar in Trump’s first 100 days
                </a>
            </li>
            
            <li>
                The New York Times –
                <a href="https://www.nytimes.com/2025/01/25/climate/epa-staff-oil-gas-chemical-industry-lobbyists.html" target="_blank">
                    Trump Stocks E.P.A. With Oil, Gas and Chemical Lobbyists</a> | <a href="https://archive.ph/Dey3K">Archive URL</a>
            </li>
            <li>
                The Guardian –
                <a href="https://www.theguardian.com/us-news/2025/may/02/trump-administration-united-states-geological-service" target="_blank">
                    Trump officials gut 25 centers that monitor flooding and drought in the US
                </a>
            </li>
            <li>
                Reuters –
                <a href="https://www.reuters.com/sustainability/sustainable-switch-states-sue-over-trumps-esg-rollbacks-2025-05-07/" target="_blank">
                    States sue over Trump’s ESG rollbacks</a> | <a href="https://archive.ph/gsVVE">Archive URL</a>
            </li>
        </ul>
        <h2>Policy Trackers</h2>
        <ul class="environment-links">
            <li>
                <a href="https://climate.law.columbia.edu/content/climate-backtracker" target="_blank">
                    Columbia Law School Climate Backtracker
                </a>
            </li>
            <li>
                <a href="https://eelp.law.harvard.edu/tracker-type/regulatory-tracker/" target="_blank">
                    Harvard Environmental Law & Policy Regulatory Tracker
                </a>
            </li>
            <li>
                <a href="https://www.actonclimate.com/trumptracker/" target="_blank">
                    Climate Action Campaign - Climate and Clean Energy Rollback Tracker
                </a>
            </li>
        </ul>
        <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:inz4fkbbp7ms3ixufw6xuvdi/app.bsky.feed.post/3lsbou2tygk2a" data-bluesky-cid="bafyreia7imal2pfk6ivyv5rtklbjs7y37m3o6wrwiltkv35oxbee4qnanq" data-bluesky-embed-color-mode="system"><p lang="en">America&#x27;s largest grid operator has issued a &quot;Maximum Generation Emergency/Load Management Alert&quot; as a heatwave sweeps across the eastern U.S., Monday. 
        Our story from 2023 on how climate change is making summers hotter, blackouts more common, and what happens if the grid collapses.<br><br>
        <a href="https://bsky.app/profile/did:plc:inz4fkbbp7ms3ixufw6xuvdi/post/3lsbou2tygk2a?ref_src=embed">[image or embed]</a>
        </p>&mdash; WIRED  (<a href="https://bsky.app/profile/did:plc:inz4fkbbp7ms3ixufw6xuvdi?ref_src=embed">@wired.com</a>) 
        <a href="https://bsky.app/profile/did:plc:inz4fkbbp7ms3ixufw6xuvdi/post/3lsbou2tygk2a?ref_src=embed">June 23, 2025 at 7:29 AM</a></blockquote>
        <div class="image-container">
            <a href="https://www.ncelenviro.org/resources/endangered-species-infographic/" target="_blank">
                <img src="{{ url_for('media', filename='environment/extinction_infographic.png') }}"
                alt="extinction_infographic.png">
            </a>
        </div>
        <script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
    </section>
    <section class="environment-right">
        <div class="content-right">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/7hBMbQ9de1g?si=Em_JRXzIiyT02Jkw"
                title="PBS When Will Extreme Head Become Unlivable?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/qtinSxbRJV8?si=4UCrjVlVwxyq02rB"
                title="PBS Can Our Cities Survive the Heat?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/4LrDz63Br04?si=ewmrHKfaN3Yo3iay"
                title="PBS Terra AMOC Explained" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/HvKpnaXYUPU?si=HR9DkXAbcVevn6F1"
                title="NOVA PBS Artic Sinkholes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
            </div>

            <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:3ervi2ajtapomyvjvui476th/app.bsky.feed.post/3lojbsrtfes2m" 
            data-bluesky-cid="bafyreic5a75u2rjgx34okbn3trsds2dhax6nen3tr7qyhnyw45xqfdrdk4" data-bluesky-embed-color-mode="system">
            <p lang="en">Ocean with David Attenborough hits cinemas from May 8th! 🌊
            The film takes us on a journey of discovery through our oceans as you’ve never seen them before.  
            Here&#x27;s a sneak peek. 👀 #OceanFilm<br><br>
            <a href="https://bsky.app/profile/did:plc:3ervi2ajtapomyvjvui476th/post/3lojbsrtfes2m?ref_src=embed">[image or embed]</a>
            </p>&mdash; WWF UK (<a href="https://bsky.app/profile/did:plc:3ervi2ajtapomyvjvui476th?ref_src=embed">@wwf.org.uk</a>)
            <a href="https://bsky.app/profile/did:plc:3ervi2ajtapomyvjvui476th/post/3lojbsrtfes2m?ref_src=embed">May 6, 2025 at 10:16 AM</a>
            </blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
        </div>
    </section>
</main>
{% endblock %}
