{% extends 'base.html' %}

{% block content %}
<main>
    <h1>History, Culture, Art, Music & Literature</h1>
    <div class ="top-row">
        <div class="quote">
            <p>"I wander thro' each charter'd street,</p>
            <p>Near where the charter'd Thames does flow. </p>
            <p>And mark in every face I meet</p>
            <p>Marks of weakness, marks of woe."</p>
            <p>William Blake, London</p>
        </div>
    </div>
    <section class="history_culture-main">
        <div class="history_culture-left">
        </div>
    </section>

    </div>
</main>

{% endblock %}