<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}

<main class="home-page">
    <section class="home-left">
        <div class="image-container" id="image1">
            <img src="{{ url_for('static', filename='images/event01.png') }}" alt="Event 1">
        </div>
    </section>
    <section class="home-center">
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/EitDo0kbwTg?si=M6GiBz0xQCI8OiY0" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
            gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="image-container" id="image2">
            <img src="{{ url_for('static', filename='images/event02.png') }}" alt="Event 2">
        </div>
    </section>
    <section class="home-right">
        <div class="image-container" id="image3">
            <img src="{{ url_for('static', filename='images/event03.png') }}" alt="Event 3">
        </div>
    </section>
</main>

{% endblock %}
