{% extends "base.html" %}
{% block content %}

<div class="chat-container">
    <div class="chat-messages" id="chat-messages"></div>
    <div class="chat-input-container">
        <div class="chat-editor" id="chat-editor" contenteditable="true" placeholder="Type a message..." required></div>
        <input type="hidden" name="chat-content" class="hidden-content">

        <div class="chat-buttons">
            <!-- Unicode emoji picker button -->
            <button type="button" class="emoji-button" id="unicode-emoji-button">
                <img class="icon" src="media/icons/emoji.png" alt="emoji.png">
            </button>
            <div class="emoji-wrapper" id="unicode-emoji-wrapper" style="display: none;">
                <emoji-picker></emoji-picker>
            </div>

            <!-- Custom emoji picker button -->
            <button type="button" class="emoji-button" id="custom-emoji-button">
                🐱
            </button>
            <div class="custom-emoji-wrapper" id="custom-emoji-wrapper" style="display: none;">
                <!-- custom emoji drawer will be injected here -->
            </div>
            
            <!-- Upload button -->
            <button type="button" id="upload-button" class="upload-button">
                📎
            </button>
            <input type="file" id="file-input" style="display: none;" />

            <!-- Send button -->
            <button type="button" id="send-button" class="send-button">
                Send
            </button>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/matrix.js') }}"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
{% endblock %}