{% extends "base.html" %}
{% block content %}
<div class="chat-container">
    <div class="chat-messages" id="chat-messages"></div>
    <div class="comment-box">
        <div class="comment-editor" contenteditable="true" placeholder="Type a message..." id="comment-editor" required></div>
        <div class="input-buttons">
            <!-- Unicode emoji picker -->
            <button type="button" class="emoji-button" onclick="toggleEmojiPicker(event)">
                <img class="icon" src="media/icons/emoji.png" alt="emoji.png">
            </button>
            <div class="emoji-wrapper" style="display: none;">
                <emoji-picker></emoji-picker>
            </div>

            <!-- Custom emoji picker -->
            <button type="button" class="emoji-button" onclick="toggleCustomEmojiDrawer(event)">😺</button>
            <div class="custom-wrapper" style="display: none;">
            <!-- JS will inject emoji drawer below -->
            </div>
            <button id="upload-button">📎</button>
            <input type="file" id="file-input" style="display:none" />
            <button id="send-button">Send</button>
        </div>
    </div>
</div>

<script src="/static/js/news.js"></script>
<script src="/static/js/custom-emojis.js"></script>
{% endblock %}