{% extends 'base.html' %}

{% block content %}
<main class="profile-page">
    <div class="profile-container"></div>
        <h2>
            <img src="{{ url_for('avatar', filename=current_user.avatar_filename or 'default_avatar.png') }}"
            class="avatar" alt="User Avatar" style="width: 120px; border-radius: 50%;">
            {{ user.username }}
        </h2>

        <p><strong>Bio:</strong> {{ current_user.bio or 'No bio yet.' }}</p>
    </div>

    <form method="POST" enctype="multipart/form-data">
        <label for="avatar">Upload Avatar:</label>
        <input type="file" name="avatar" accept="image/*" required>

        <label for="bio">Bio:</label>
        <input name="bio" type="text">{{ current_user.bio or '' }}</textarea>

        <button type="submit">Save</button>
    </form>

</main>
{% endblock %}
