{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Veganism</h1>
    <div class ="top-row">
        <img class="icon" src="{{ url_for('media', filename='veganism/om.png') }}" alt="Om">
        <img class="icon" src="{{ url_for('media', filename='veganism/vegan.png') }}" alt="Vegan">
        <div class="wikipedia">
            <a href="https://en.wikipedia.org/wiki/Veganism" target="_blank">Wikipedia: </a>
            Veganism is the practice of abstaining from the use of animal products and the consumption of animal source
            foods, and an associated philosophy that rejects the commodity status of animals. A person who practices veganism is
            known as a vegan.
        </div>
        <img class="icon" src="{{ url_for('media', filename='veganism/ahimsa.png') }}" alt="Ahimsa">
        <img class="icon" src="{{ url_for('media', filename='veganism/peace.png') }}" alt="Peace">
    </div>
    <section class="veganism-main">
        <div class="veganism-left">
            <h2>Recent News</h2>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="veganism-wrapper">
                <div class="veganism-feed" id="veganism-feed">
                    {% if vposts %}
			            {% for post in vposts %}
                        <div class="vegan-post" id="post-{{ post.id }}">{{ post.content or ''}}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div id="veganism-form">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input id="url" name="url" type="url" required placeholder="Paste URL here…">
                    <button type="submit" class="submit-button">Submit</button>
                </div>
            </div>
        </div>
        <div class="veganism-right">
            <h2>Media</h2>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/RDU5JaaaM24"
                title="SDN Podcasts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/JAyuHIthHco"
                title="TED What if We All Stopped Eating Meat" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/hRTfk4Y8tws"
                    title="More Perfect Union - The Most Corrupt Corporation in the World Is Taking Over Our Food Supply"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/MAXHWlEojvQ"
                title="Bloomberg How Big Beef Is Fueling the Amazons Destruction" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
            </div>
            
            <h2>Substack</h2>
            <div class="substack-post-embed">
                <p lang="en">Taking A Critical Look At Climate Change With AI</p>
                <a data-post-link href="https://versalife.substack.com/p/taking-a-critical-look-at-climate">Read on Substack</a>
                <script async src="https://substack.com/embedjs/embed.js" charset="utf-8"></script>
            </div>
        </div>
    </section>
    <script>
        const currentUser = {
            id: "{{ current_user.id }}",
            username: "{{ current_user.username }}",
            display_name: "{{ current_user.display_name }}",
            is_admin: "{{ 'true' if current_user.is_admin else 'false' }}"
        };
    </script>
    <script src="{{ url_for('static', filename='js/timestamp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/veganism.js') }}"></script>
</main>

{% endblock %}
