{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Veganism</h1>
    <div class ="top-row">
        <img class="icon" src="{{ url_for('media', filename='veganism/om.png') }}" alt="Om">
        <img class="icon" src="{{ url_for('media', filename='veganism/vegan.png') }}" alt="Vegan">
        <div class="wikipedia">
            <a href="https://en.wikipedia.org/wiki/Veganism" target="_blank">Wikipedia: </a>
            Veganism is the practice of abstaining from the use of animal products and the consumption of animal source
            foods, and an associated philosophy that rejects the commodity status of animals. A person who practices veganism is
            known as a vegan.
        </div>
        <img class="icon" src="{{ url_for('media', filename='veganism/ahimsa.png') }}" alt="Ahimsa">
        <img class="icon" src="{{ url_for('media', filename='veganism/peace.png') }}" alt="Peace">
    </div>
    <section class="veganism-main">
        <div class="veganism-left">
            <h2>Recent News</h2>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="veganism-wrapper">
                <div class="veganism-feed" id="veganism-feed">
                    {% if vposts %}
			            {% for post in vposts %}
                        <div class="vegan-post">{{ post.content or ''}}</div>
                        {% endfor %}

                    {% endif %}
                </div>
                <form method="post" id="veganism-form">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input id="url" name="url" type="url" required placeholder="Paste URL here…">
                    <button type="submit" class="submit-button">Submit</button>
                </form>
            </div>
            
            <!-- <ul>
                <li>
                    The Guardian - 
                    <a href="https://www.theguardian.com/us-news/2025/jun/29/lone-star-ticks-increase-climate-crisis" target="_blank">
                        ‘Explosive increase’ of ticks that cause meat allergy in US due to climate crisis
                    </a>
                </li>
                <li>
                    Swissinfo.ch - 
                    <a href="https://www.swissinfo.ch/eng/swiss-abroad/animal-suffering-to-be-declared-on-food-labels-from-july/89451200" target="_blank">
                        Swiss food labels must declare animal suffering from July
                    </a>
                </li>
                <li>Times of India -
                    <a href="https://timesofindia.indiatimes.com/world/middle-east/eid-al-adha-2025-viral-escapes-by-sacrificial-animals-cause- \
                        traffic-jams-and-public-safety-incidents/articleshow/121694409.cms" target="_blank">
                        Eid Al Adha 2025: Viral escapes by sacrificial animals <br> cause traffic jams and public safety incidents</a>
                </li>
                <li>
                    Chicago Sun-Times -
                    <a href="https://chicago.suntimes.com/health/2025/06/07/salmonella-outbreak-tied-to-eggs-sickens-dozens-across-7-states" target="_blank">
                        Outbreak tied to eggs sickens dozens across 7 states
                    </a>
                </li>
                <li>
                    Environmental Working Group -
                    <a href="https://www.ewg.org/news-insights/news/2024/10/usda-livestock-subsidies-top-59-billion" target="_blank">
                        USDA livestock subsidies top $72B
                    </a>
                </li>
                <li>
                    Environmental Working Group -
                    <a href="https://www.ewg.org/news-insights/news/2025/05/almost-10000-farmers-have-received-subsidies-40-straight-years" target="_blank">
                        Almost 10,000 farmers have received subsidies for 40 straight years
                    </a>
                </li>
                <li>
                    Environmental Working Group -
                    <a href="https://www.ewg.org/news-insights/news/2025/05/cruelest-farm-bill-ever" target="_blank">
                        The Cruelest Farm Bill Ever
                    </a>
                </li>
                <li>
                    Associated Press - 
                    <a href="https://apnews.com/video/pollution-climate-change-colorado-greenhouse-effect-texas-49f2dcfa7f2443de8cc6b24e06d90e2a" target="_blank">
                        Pollution of the potent warming gas methane soars and people are mostly to blame
                    </a>
                </li>
                <li>
                    Beyond Science Labs - 
                    <a href="https://beyondsciencelabs.com/research/weak-regulations-and-potential-dangers-lurking-in-usa-meats/" target="_blank">
                        Weak Regulations and Potential Dangers Lurking in USA Meats!
                    </a>
                </li>
                <li>
                    Consumer Reports -
                    <a href="https://www.consumerreports.org/health/meat-poultry/is-our-ground-meat-safe-to-eat-a2700598982/" target="_blank">
                        Is Our Ground Meat Safe to Eat?
                    </a>
                </li>
                <li>
                    NBC News -
                    <a href="https://www.nbcnews.com/think/opinion/americas-big-meat-industry-menace-congress-new-report-covid-dangers-pr-rcna30164" target="_blank">
                        Congress picks a bone with Big Meat
                    </a>
                    A shocking federal investigation has exposed an ethical concern for which there are no convenient labels.
                </li>
                <li>
                    The Guardian -
                    <a href="https://www.theguardian.com/world/2025/dec/03/nih-funds-cat-experiments" target="_blank">
                        NIH funds new cat experiments despite pledge to phase them out, watchdog reports
                    </a>
                </li>
            </ul> -->
            <!-- <blockquote class="bluesky-embed"
                data-bluesky-uri="at://did:plc:fmge65mqeyeozky5b3yymxha/app.bsky.feed.post/3loernfl5gs2c"
                data-bluesky-cid="bafyreig4srjnppj7tfqssx2oalxf2nx6nb5spctx4jfzrjnjruswddwwzi"
                data-bluesky-embed-color-mode="system">
                <p lang="en">The National Institutes of Health has closed the last remaining intramural beagle lab conducting
                    painful experiments
                    — the federal government’s largest dog lab NIH Director Dr. Jay Bhattacharya said in a television interview
                    Sunday.
                    <br><br><a
                        href="https://bsky.app/profile/did:plc:fmge65mqeyeozky5b3yymxha/post/3loernfl5gs2c?ref_src=embed">[image or
                        embed]</a>
                </p>
                &mdash; meowmeow XIV (woke marxist pope) (<a
                    href="https://bsky.app/profile/did:plc:fmge65mqeyeozky5b3yymxha?ref_src=embed">@neo50.bsky.social</a>)
                <a href="https://bsky.app/profile/did:plc:fmge65mqeyeozky5b3yymxha/post/3loernfl5gs2c?ref_src=embed">May 4, 2025 at
                    3:16 PM</a>
            </blockquote>
            <script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script> -->
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/hRTfk4Y8tws?si=VPOEPFpeLC5smcFt"
                    title="More Perfect Union - The Most Corrupt Corporation in the World Is Taking Over Our Food Supply"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="veganism-right">
            <h2>Media</h2>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/JAyuHIthHco?si=Ya9rMxr4IvwMk6U2"
                title="TED What if We All Stopped Eating Meat" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/MAXHWlEojvQ?si=_x_ypkHV3maiX3iF"
                title="Bloomberg How Big Beef Is Fueling the Amazons Destruction" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
            </div>
            
            <h2>Substack</h2>
            <div class="substack-post-embed">
                <p lang="en">Taking A Critical Look At Climate Change With AI</p>
                <a data-post-link href="https://versalife.substack.com/p/taking-a-critical-look-at-climate">Read on Substack</a>
                <script async src="https://substack.com/embedjs/embed.js" charset="utf-8"></script>
            </div>
        </div>
    </section>
    <script>
        const currentUser = {
            id: "{{ current_user.id }}",
            username: "{{ current_user.username }}",
            display_name: "{{ current_user.display_name }}",
            is_admin: "{{ 'true' if current_user.is_admin else 'false' }}"
        };
    </script>
    <script src="{{ url_for('static', filename='js/timestamp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/veganism.js') }}"></script>
</main>

{% endblock %}
