<!-- templates/news.html -->
{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Veganism</h1>
    <section class="veganism-main">
        <div class="wikipedia">
            <a href="https://en.wikipedia.org/wiki/Veganism" target="_blank">Wikipedia: </a>
            Veganism is the practice of abstaining from the use of animal products and the consumption of animal source
            foods, and an associated philosophy that rejects the commodity status of animals. A person who practices veganism is
            known as a vegan.
        </div>
        <div class="content-row">
            <div class="veganism-left">
                <h2>Recent News</h2>
                <ul>
                    <li>Times of India -
                        <a href="https://timesofindia.indiatimes.com/world/middle-east/eid-al-adha-2025-viral-escapes-by-sacrificial-animals-cause- \
                        traffic-jams-and-public-safety-incidents/articleshow/121694409.cms" target="_blank">
                        Eid Al Adha 2025: Viral escapes by sacrificial animals <br> cause traffic jams and public safety incidents</a>
                    </li>
                </ul>
                <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:fmge65mqeyeozky5b3yymxha/app.bsky.feed.post/3loernfl5gs2c"
                data-bluesky-cid="bafyreig4srjnppj7tfqssx2oalxf2nx6nb5spctx4jfzrjnjruswddwwzi" data-bluesky-embed-color-mode="system">
                <p lang="en">The National Institutes of Health has closed the last remaining intramural beagle lab conducting painful experiments
                    — the federal government’s largest dog lab NIH Director Dr. Jay Bhattacharya said in a television interview Sunday.
                    <br><br><a href="https://bsky.app/profile/did:plc:fmge65mqeyeozky5b3yymxha/post/3loernfl5gs2c?ref_src=embed">[image or embed]</a></p>
                    &mdash; meowmeow XIV (woke marxist pope) (<a href="https://bsky.app/profile/did:plc:fmge65mqeyeozky5b3yymxha?ref_src=embed">@neo50.bsky.social</a>)
                    <a href="https://bsky.app/profile/did:plc:fmge65mqeyeozky5b3yymxha/post/3loernfl5gs2c?ref_src=embed">May 4, 2025 at 3:16 PM</a>
                    </blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
            </div>
            <div class="veganism-right">
                <h2>Substack</h2>
                <div class="substack-post-embed">
                    <p lang="en">Taking A Critical Look At Climate Change With AI</p>
                    <a data-post-link href="https://versalife.substack.com/p/taking-a-critical-look-at-climate">Read on Substack</a>
                    <script async src="https://substack.com/embedjs/embed.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
